
/* Pages Background Color */
body{
    background-color: hsl(0, 3%, 20%);
    font-weight: bold;
    text-align: center;
}

/* Text */
h1{
    color: hsl(120, 100%, 58%);
    background-color: hsl(0, 13%, 12%);
    font-family: verdana, arial;
    font-size: 50px;
    border-radius: 10px;
    border: 6px solid hsl(0, 100%, 30%); /* width, style, color */
}
h2{
    color: hsl(0, 0%, 0%);
    font-family: verdana, arial;
    font-size: 45px;
}
h3{
    color: hsl(0, 0%, 0%);
    font-family: verdana, arial;
    font-size: 40px;
}
h4{
    color: hsl(0, 0%, 0%);
    font-family: verdana, arial;
    font-size: 35px;
}
h5{
    color: hsl(0, 0%, 0%);
    font-family: verdana, arial;
    font-size: 30px;
}
h6{
    color: hsl(0, 0%, 0%);
    font-family: verdana, arial;
    font-size: 26px;
}
p{
    color: hsl(0, 0%, 0%);
    font-family: verdana, "courier new";
    font-size: 24px;
    font-style: italic;
}



/* Navigation Bar */
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 10%);
    padding: 0px;
    margin: 10px;
    overflow: auto;
    border: 6px solid hsl(0, 100%, 30%);
    border-radius: 10px;
}

.navbar a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    background-color: hsl(0, 2%, 12%);
    border-radius: 10px;
    transition: 0.3s;
}

.navbar li{
    display: inline-block;
}

/* Boxes in the navigation bar */
#hqBox a {
    color: hsl(0, 100%, 50%);
    transform: translateX(50%);
}

#glBox a {
    color: hsl(120, 100%, 50%);
    transform: translateX(0%);
}

#blogBox a {
    color: hsl(175, 100%, 50%);
    transform: translateX(-50%);
}

#aboutBox a {
    color: hsl(59, 100%, 50%);
    transform: translateX(-100%);
}
#logicBox a {
    color: hsl(268, 89%, 65%);
    transform: translateX(50%);
}

/* Hovering over navbar boxes */
.hover-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: hsl(0, 0%, 10%);
    border-radius: 50px;
    font-size: 16px;
    transform: translate(-55px, -17px);
    white-space: nowrap;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#aboutBox:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

#blogBox:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

#glBox:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

#hqBox:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

#logicBox:hover .hover-text {
    visibility: visible;
    opacity: 1;
}



/* Logic Engine page */
#logicEngineBox a {
    color: hsl(268, 63%, 46%);
}
#roadmapBox a{
    color: hsl(182, 83%, 37%);
    position: relative;
    right: 35%;
    text-decoration: underline;
}
